# Gradle
.gradle/
build/
**/build/
gradle-app.setting
.gradletasknamecache

# Avoid ignoring Gradle wrapper files (.jar and .properties are usually ignored)
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Android
local.properties
google-services.json

*.apk
*.aab
*.ap_
*.keystore
*.jks

# iOS / Xcode
xcuserdata/
*.xcuserstate
DerivedData/
GoogleService-Info.plist

# JVM / Kotlin
*.class
*.log
hs_err_pid*
replay_pid*

# Kotlin Gradle plugin data
.kotlin/

# Artefact
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Ficheros temporales BlueJ / J2ME
*.ctxt
.mtj.tmp/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
/.idea
*.iml
/.claude
